<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card>
          <mat-card-header>
            <mat-card-title
              ><img
                src="./../../../assets/images/capgemini-logo.jpg"
                width="100px"
            /></mat-card-title>
          </mat-card-header>

          <form class="example-form" [formGroup]="signinFormGroup">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <mat-label>Enter Username</mat-label>
                <input
                  matInput
                  placeholder="Username"
                  formControlName="username"
                  [ngClass]="{
                    'is-invalid': loginSubmitted && loginFn.username.errors
                  }"
                />

                <div
                  *ngIf="loginSubmitted && loginFn.username.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="loginFn.username.errors.required">
                    username is required.
                  </div>
                </div>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Enter your password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  placeholder="password"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid': loginSubmitted && loginFn.password.errors
                  }"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <div
                  *ngIf="loginSubmitted && loginFn.password.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="loginFn.password.errors.required">
                    password is required.
                  </div>
                </div>
              </mat-form-field>
            </mat-card-content>
            <button
            [disabled]="!signinFormGroup.valid"
              type="submit"
              (click)="loginSubmitData()"
              mat-raised-button
              color="primary"
              class="btn-block"
            >
              Log in
            </button>
          </form>
        </mat-card>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
  </div>
</div>
