<div class="container my-5">
  <div class="row">
    <mat-form-field class="example-full-width" appearance="fill">
      <input
        matInput
        type="text"
        (keyup)="doFilter($event)"
        placeholder="Filter"
      />
    </mat-form-field>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    matSortStart="desc"
    (matSortChange)="customSort($event)"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Application Type</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Application Number</th>
      <td mat-cell *matCellDef="let element">{{ element.modifiycaseName }}</td>
    </ng-container>

    <ng-container matColumnDef="urgency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Requested Loan Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.urgency }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Application Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Details</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['/home/loan', element.ID]"
          routerLinkActive="router-link-active"
        >
          <mat-icon class="mat-18">reorder</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef style="display: none">Update</th>
      <td mat-cell *matCellDef="let element" style="display: none">
        <button
          mat-icon-button
          color="accent"
          (click)="redirectToUpdate(element.id)"
        >
          <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef style="display: none">Delete</th>
      <td mat-cell *matCellDef="let element" style="display: none">
        <button
          mat-icon-button
          color="warn"
          (click)="redirectToDelete(element.id)"
        >
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[
      5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 120, 150, 180, 200
    ]"
  >
  </mat-paginator>
</div>
