table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}
.example-full-width {
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
    .banner-section {
        width: 100% !important;
    }
    table {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        min-width: 500px;
    }
     
    th.mat-header-cell {
        text-align: left;
        max-width: 300px;
    }
    .example-full-width {
        width: 100%;
      }
  
  }