<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-8 col-xl-8 col-lg-8">
        <div class="logo">
          <img
            src="../../../assets/images/capgemini-logo.jpg"
            alt="capgemini-logo"
          />
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-xl-4 col-lg-4">
        <ul class="rthgBtn">
          <li>
            <button class="btn1" style="display: none">
              <a [routerLink]="['/login']" routerLinkActive="router-link-active"
                >login</a
              >
            </button>
          </li>
          <li>
            <button class="btn1">
              <a [routerLink]="['/login']" routerLinkActive="router-link-active"
                >Apply Now</a
              >
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-6 col-12">
        <div class="cont_txt">
          <!-- <h2>Get Instant Loans</h2> -->

          <!-- <p>
            Unlike other Loans, a personal or unsecured Loan has easy
            eligibility criteria, special offers and unrestricted end-use for
            you to finance your immediate expenses, be it a medical emergency or
            a foreign trip.
          </p> -->
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</div>
<div class="section3">
  <div class="container">
    <!-- <h4>Three Equal Columns</h4> -->
    <div class="row">
      <br />
      <div class="col-12 col-sm-3 col-md-3 col-lg-3 py-2">
        <mat-card class="example-card">
          <img
            mat-card-image
           
            src="./../../../assets/images/img11.jpg"
            alt="Photo of a Shiba Inu"
           
          />
          <mat-card-content class="cart_content">
            <p>
              This summary of the SME loan process is designed to provide an overview of the basic steps involved in obtaining an SME loan.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-sm-3 col-md-3 col-lg-3 py-2">
        <mat-card class="example-card">
          <img
            mat-card-image
           src="./../../../assets/images/img22.jpg"
            alt="Photo of a Shiba Inu"
            
          />
          <mat-card-content class="cart_content">
            <p>
              This summary of the SME loan process is designed to provide an overview of the basic steps involved in obtaining an SME loan.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-sm-3 col-md-3 col-lg-3 py-2">
        <mat-card class="example-card">
          <img
            mat-card-image
           src="./../../../assets/images/img33.jpg"
            alt="Photo of a Shiba Inu"
           
          />
          <mat-card-content class="cart_content">
            <p>
              This summary of SME loan process is designed to provide a steps obtend in obtaining an SME loan.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-sm-3 col-md-3 col-lg-3 py-2">
        <div class="txt2">
          <img src="../../../assets/images/images.jpg" />
          <button class="btn2"><a href="#">Hello I'm Lobot</a></button>
        </div>
        <h4 style="color: #fff;">Got a Question? Ask our us right away</h4>
        <p style="color: #fff;">connect instantly with us for quick assistance.</p>
        <button class="btn3"><a href="#">Chat with Us</a></button>
      </div>
    </div>
  </div>
</div>


<div class="section4">
  <div class="container">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="cards-wrapper">
          <div class="card">
            <img src="./../../../assets/images/img6.jpg" class="card-img-top" alt="img">
            <div class="card-body">
              <h2 class="card-title" style="color: burlywood;">Steps of an SME Loan</h2>
              <p class="card-text">Small Business Owner prepares business plan make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary" style="float: right;">Go somewhere</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img 
            class="card-img-top" 
            src="./../../../assets/images/img3.jpg"
            alt="Photo of a Shiba Inu"
            >
            <div class="card-body">
              <h2 class="card-title" style="color: burlywood;">Steps of an SME Loan</h2>
              <p class="card-text">
                ender reviews loan application and performs credit analysis Lender makes a decision on whether
                </p>
              <a href="#" class="btn btn-primary" style="float: right;">Go somewhere</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img 
            class="card-img-top"
            src="./../../../assets/images/banner1.jpg"
            alt="Photo of a Shiba Inu"
            >
            <div class="card-body">
              <h2 class="card-title" style="color: burlywood;">Steps of an SME Loan</h2>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary" style="float: right;">Go somewhere</a>
            </div>
          </div>
        </div>
        </div>
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card">
              <img 
              class="card-img-top" 
              src="./../../../assets/images/c1.jpg"
              alt="Photo of a Shiba Inu"
              >
              <div class="card-body">
                <h2 class="card-title" style="color: burlywood;">Steps of an SME Loan</h2>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary" style="float: right;">Go somewhere</a>
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img  class="card-img-top"
              src="./../../../assets/images/c2.jpg"
              alt="Photo of a Shiba Inu"
              >
              <div class="card-body">
                <h2 class="card-title" style="color: burlywood;">Steps of an SME Loan</h2>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary" style="float: right;">Go somewhere</a>
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img  class="card-img-top"
              src="./../../../assets/images/c3.png"
              alt="Photo of a Shiba Inu"
              >
              <div class="card-body">
                <h2 class="card-title" style="color: burlywood;">Steps of an SME Loan</h2>
                <p class="card-text">
                  If an SME loan guaranty is not a delegated lender, Lender submits application to the SME.
                </p>
                <a href="#" class="btn btn-primary" style="float: right;">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card">
              <img 
              class="card-img-top" 
              src="./../../../assets/images/c1.jpg"
              alt="Photo of a Shiba Inu"
              >
              <div class="card-body">
                <h2 class="card-title" style="color: burlywood;">Steps of an SME Loan</h2>
                <p class="card-text">
                  If an SME loan guaranty is desired Lender submits application to the SME.

                </p>
                <a href="#" class="btn btn-primary" style="float: right;">Go somewhere</a>
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img  class="card-img-top"
              src="./../../../assets/images/c2.jpg"
              alt="Photo of a Shiba Inu"
              >
              <div class="card-body">
                <h2 class="card-title" style="color: burlywood;">Steps of an SME Loan</h2>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary" style="float: right;">Go somewhere</a>
              </div>
            </div>
            <div class="card d-none d-md-block">
              <img  class="card-img-top"
              src="./../../../assets/images/c3.png"
              alt="Photo of a Shiba Inu"
              >
              <div class="card-body">
                <h2 class="card-title" style="color: burlywood;">Steps of an SME Loan</h2>
                <p class="card-text">
                  If an SME loan guaranty is desired Lender submits application to the SME.
                </p>
                <a href="#" class="btn btn-primary" style="float: right;">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</div>
 

<div class="testimonial text-center">
  <div class="container">

      <div class="heading white-heading">
        Our Clients
      </div>
      <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
       
          <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                  <div class="testimonial4_slide">
                      <img src="./../../../assets/images/client1.jpg" class="img-circle img-responsive" />
                      <p>Small Business Owner prepares business plan Small Business Owner meets with a lender Small Business Owner completes loan application</p>
                      <h4>Joe Clarke.</h4>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="testimonial4_slide">
                      <img src="./../../../assets/images/client22.png" class="img-circle img-responsive" />
                      <p> Lender reviews loan application and performs credit analysis Lender makes a decision on whether to approve the loan pulls credit</p>
                      <h4>David Jonsons.</h4>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="testimonial4_slide">
                      <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                      <p>Lender completes loan underwriting such as obtaining and reviewing appraisals, title work, environmental reports, etc</p>
                      <h4>Androld James.</h4>
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#testimonial4" data-slide="next">
              <span class="carousel-control-next-icon"></span>
          </a>
      </div>
  </div>
</div>




<div class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="footer_logo">
          <img src="../../../assets/images/footer.jpg" />
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="footer_txt1">
          <ul>
            <li><i class="fa fa-map"></i>&nbsp;Locate us</li>
            <li><i class="fa fa-phone fa-1x"></i>&nbsp;Phone us</li>
            <li><i class="fa fa-envelope"></i>&nbsp;Mail us</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="footer_txt2">
          <ul>
            <li><a href="#">Terms and conditions </a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="socail-icon">
          <h2>Connect with us</h2>
          <ul>
            <li>
              <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub_footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been
        </p>
      </div>
    </div>
  </div>
</div>


