.rthgBtn {
    display: flex;
    float: right;
    text-align: center;
}
/* .example-full-width {
    width: 100%;
  } */
.btn1{
    width: 127px !important;
}

.section3 .cart_content {
  width: 100%;
  height: 100%;
}
.example-card {
  width: 100%;
  height: 100%;
}

.section4 p {
  text-transform: capitalize;
}
  @media screen and (max-width: 600px) {
    .rthgBtn {
        display: flex;
        text-align: center;
      
    }
  }
  @media only screen and (min-width: 768px) {
    .rthgBtn {
        display: flex;
      
    }
    .btn1{
        width: 113px;
    }
  }

  @media (max-width: 480px) {
    .rthgBtn {
        display: flex;
        margin: 0px 100px;
       
    }
    .btn1{
        width: 113px;
    }
}

 


.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 2em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}



