* {
  padding: 0px;
  margin: 0px;
}
h2,
h3 {
  font-family: sans-serif;
  color: #fff;
}

/*======================================= Topbar==================*/
.topbar {
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #fff;
}
.topbar .logo {
  padding: 0px 10px;
}
.topbar .logo > img {
  width: 186px;
  height: 40px;
}
.topbar .btn1 {
  color: #fff;
  border: 1px solid white;
  background-color: #007bff;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  height: 34px;
}
.topbar .btn11 {
  color: #fff;
  border: 1px solid white;
  background-color: #007bff;
  padding-top: 1px;
  padding-bottom: 5px;
  padding-left: 20px;
 padding-right: 3px;
  border-radius: 25px;
  height: 34px;
}
 
.topbar .btn11 img {
  height: 30px;
  width: 30px;
}

.topbar .btn1 > a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
}
.topbar .btn11 > a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
}
/*==========================banner section =======================*/
.banner-section {
  width: 100%;
  height: 300px;
  background-image: url("./../images/banner2.png");
  margin-top: 40px;
  text-align: left;
}
.banner-section .cont_txt {
  padding-top: 36px;
}
.banner-section .cont_txt > p {
  color: #fff;
}
/*=====================section3===========================*/
.section3 {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  padding: 20px;
  background: url('./../images/bg.jpg');
}
.section3 .txt1 {
  font-size: 19px;
  text-align: justify;
  padding: 0px 5px;
}
.section3 .txt2 > img {
  width: 50px;
  height: 50px;
  border: 1px solid none;
  border-radius: 10px;
  background-color: blue;
}
.section3 .txt2 {
  display: flex;
}
.section3 .txt2 .btn2 {
  border: 1px solid #e8e8ef;
  padding: 2px 21px;
  border-radius: 19px;
  text-decoration: none;
  background-color: #fff;
  height: 35px;
  margin-left: 28px;
  margin-top: 5px;
}
.section3 .txt2 .btn2 > a {
  text-decoration: none;
  color: #706d69;
}
.section3 > h4 {
  font-size: 37px !important;
  font-family: "fantasy";
  padding: 5px;
}
.section3 .btn3 {
  border: 1px solid #e8e8ef;
  padding: 2px 21px;
  border-radius: 19px;
  text-decoration: none;
  background-color: #5d5df5;
  height: 45px;
  margin-top: 5px;
}
.section3 .btn3 > a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
}

.section4 {
  background: url('./../images/bg1.jpg');
  padding: 15px 0px;
}

 

 /*==========================  testimonial section ======================= */
 .heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
}
.white-heading{
    color: #ffffff;
}
.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(img/heading-line.png);
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
.white-heading span {
    color: #ffffff;
}
/*-----Testimonial-------*/

.testimonial:after {
  position: absolute;
  top: -0 !important;
  left: 0;
  content: " ";
  background: url(img/testimonial.bg-top.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}

.testimonial {
  min-height: 375px;
  position: relative;
 background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
      background-size: cover;
}
#testimonial4 .carousel-inner:hover{
cursor: -moz-grab;
cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
cursor: -moz-grabbing;
cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
left: 0;
margin: 0;
width: 100%;
font-size: 0;
height: 20px;
bottom: 15px;
padding: 0 5px;
cursor: e-resize;
overflow-x: auto;
overflow-y: hidden;
position: absolute;
text-align: center;
white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
padding: 0;
width: 14px;
height: 14px;
border: none;
text-indent: 0;
margin: 2px 3px;
cursor: pointer;
display: inline-block;
background: #ffffff;
-webkit-border-radius: 100%;
border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
padding: 0;
width: 14px;
height: 14px;
border: none;
margin: 2px 3px;
background-color: #9dd3af;
-webkit-border-radius: 100%;
border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
background: #eeeeee;
-webkit-border-radius: 0;
border-radius: 0;
}

.testimonial4_control_button .carousel-control{
top: 175px;
opacity: 1;
width: 40px;
bottom: auto;
height: 40px;
font-size: 10px;
cursor: pointer;
font-weight: 700;
overflow: hidden;
line-height: 38px;
text-shadow: none;
text-align: center;
position: absolute;
background: transparent;
border: 2px solid #ffffff;
text-transform: uppercase;
-webkit-border-radius: 100%;
border-radius: 100%;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
left: 7%;
top: 50%;
right: auto;
}
.testimonial4_control_button .carousel-control.right{
right: 7%;
top: 50%;
left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
color: #000;
background: #fff;
border: 2px solid #fff;
}

.testimonial4_header{
top: 0;
left: 0;
bottom: 0;
width: 550px;
display: block;
margin: 30px auto;
text-align: center;
position: relative;
}
.testimonial4_header h4{
color: #ffffff;
font-size: 30px;
font-weight: 600;
position: relative;
letter-spacing: 1px;
text-transform: uppercase;
}

.testimonial4_slide{
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 70%;
margin: auto;
padding: 20px;
position: relative;
text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
color: #ffffff;
font-size: 22px;
}

.testimonial .carousel {
padding-bottom:50px;
}
.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}
/* ------testimonial  close-------*/




/*==================footer section======================= */
.footer_section {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #6f6c72;
  padding: 23px 5px;
}
ul > li {
  list-style: none;
  padding: 6px;
  color: #fff;
}
.footer_section .footer_logo > img {
  height: 114px;
  width: 193px;
}
.footer_txt1 > ul > li {
  color: #fff;
  font-size: 15px;
  font-family: sans-serif;
}
.footer_txt2 > ul > li > a {
  color: #fff;
  font-size: 15px;
  font-family: sans-serif;
  text-decoration: none;
}
.socail-icon > ul {
  display: flex;
}
/*=====================subfooter========================*/
.sub_footer {
  width: 100%;
  background-color: #d1cdcd;
  padding: 15px 5px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-family: sans-serif;
}

/*======================= responsive ======================== */

@media only screen and (max-width: 600px) {
  .topbar {
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px;
  }
  .topbar .logo {
    padding: 5px 0px;
  }
  .topbar .btn1 {
    margin: 5px;
  }
  .topbar .btn11 {
    margin: 5px;
  }
  .banner-section {
    margin-top: 90px;
    text-align: center;
  }
  .section3 {
    text-align: center;
  }
  .section3 .txt1 {
    font-size: 16px;
    text-align: justify;
  }
  .section3 .txt2 {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .topbar {
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px;
  }
  .topbar .logo {
    padding: 5px 0px;
  }
  .topbar .btn1 {
    margin: 5px;
  }
  .topbar .btn11 {
    margin: 5px;
  }
  .banner-section {
    margin-top: 90px;
    text-align: center;
  }
  .section3 {
    text-align: center;
  }
  .section3 .txt1 {
    font-size: 16px;
    text-align: justify;
  }
  .section3 .txt2 {
    display: block;
  }

 


}
