<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<mat-stepper [linear]="isLinear" #stepper>
  <br />
  <mat-step [stepControl]="profileFormGroup"  [editable]="step == 1" [completed]="step > 1">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 my-2">
        <form [formGroup]="profileFormGroup">
          <ng-template matStepLabel>Profile</ng-template>
          <br />
          <h2>
            <a
              [routerLink]="['/home/dashboard']"
              routerLinkActive="router-link-active"
              style="color: burlywood"
              >Dashboard <i class="fa fa-angle-right" style="color: black"></i
            ></a>

            <span style="color: burlywood">SME Loan Origination</span>
            <span style="color: gray"
              >&nbsp;({{
                this.bannerCaseName === "" ? "" : this.bannerCaseName
              }})</span
            >
          </h2>

          <br />
          <span class="spanHeading">Profile Details</span>
          <br /><br /><br />
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Company Name</mat-label>
                <input
                  matInput
                  placeholder="company"
                  formControlName="companyName"
                  [ngClass]="{
                    'is-invalid':
                      profileSubmitted && profileControlName.companyName.errors
                  }"
                />
                <div
                  *ngIf="
                    profileSubmitted && profileControlName.companyName.errors
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="profileControlName.companyName.errors.required">
                    Company Name is required
                  </div>
                </div>
              </mat-form-field>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <mat-label>Existing Customer</mat-label><br /><br />
              <mat-radio-group
                aria-label="Select an option"
                formControlName="isExistingCustomer"
                [ngClass]="{
                  'is-invalid':
                    profileSubmitted &&
                    profileControlName.isExistingCustomer.errors
                }"
                [disabled]="selectDisable"
              >
                <mat-radio-button value="Yes">Yes</mat-radio-button>&nbsp;
                <mat-radio-button value="No">No</mat-radio-button>
                <div
                  *ngIf="
                    profileSubmitted &&
                    profileControlName.isExistingCustomer.errors
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      profileControlName.isExistingCustomer.errors.required
                    "
                  >
                    Customer is required
                  </div>
                </div>
              </mat-radio-group>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Address</mat-label>
                <input
                  matInput
                  placeholder="address"
                  formControlName="address"
                  [ngClass]="{
                    'is-invalid':
                      profileSubmitted && profileControlName.address.errors
                  }"
                />
                <div
                  *ngIf="profileSubmitted && profileControlName.address.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="profileControlName.address.errors.required">
                    Address is required
                  </div>
                </div>
              </mat-form-field>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Legal Address of Incorporation</mat-label>
                <input
                  matInput
                  placeholder="legal address"
                  formControlName="incorporationAddress"
                  [ngClass]="{
                    'is-invalid':
                      profileSubmitted &&
                      profileControlName.incorporationAddress.errors
                  }"
                />
                <div
                  *ngIf="
                    profileSubmitted &&
                    profileControlName.incorporationAddress.errors
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      profileControlName.incorporationAddress.errors.required
                    "
                  >
                    Incorporation Address is required
                  </div>
                </div>
              </mat-form-field>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12 col-md-4 col-sm-4 col-lg-3 col-xl-3">
              <mat-label>Title*</mat-label><br /><br />
              <mat-button-toggle-group
                [disabled]="selectDisable"
                formControlName="title"
                aria-label="Favorite Color"
                [ngClass]="{
                  'is-invalid':
                    profileSubmitted && profileControlName.title.errors
                }"
              >
                <mat-button-toggle value="mr.">Mr.</mat-button-toggle>
                <mat-button-toggle value="miss">Miss</mat-button-toggle>
                <mat-button-toggle value="Mrs">Mrs.</mat-button-toggle>
                <div
                  *ngIf="profileSubmitted && profileControlName.title.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="profileControlName.title.errors.required">
                    Title is required
                  </div>
                </div>
              </mat-button-toggle-group>
            </div>
            <div class="col-12 col-md-8 col-sm-8 col-lg-9 col-xl-9">
              <mat-label></mat-label><br /><br />
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Contact Name</mat-label>
                <input
                  matInput
                  placeholder="name"
                  formControlName="contactName"
                  [ngClass]="{
                    'is-invalid':
                      profileSubmitted && profileControlName.contactName.errors
                  }"
                />
                <div
                  *ngIf="
                    profileSubmitted && profileControlName.contactName.errors
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="profileControlName.contactName.errors.required">
                    Contact is required
                  </div>
                  <div *ngIf="profileControlName.contactName.errors.pattern">
                    Name must be characters
                  </div>
                </div>
              </mat-form-field>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Contact Number</mat-label>
                <input
                  matInput
                  placeholder="contact number"
                  formControlName="contactNumber"
                  [ngClass]="{
                    'is-invalid':
                      profileSubmitted &&
                      profileControlName.contactNumber.errors
                  }"
                />
                <div
                  *ngIf="
                    profileSubmitted && profileControlName.contactNumber.errors
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="profileControlName.contactNumber.errors.required">
                    Contact Number is required
                  </div>
                  <div *ngIf="profileControlName.contactNumber.errors.pattern">
                    Contact Number is 10 digits
                  </div>
                </div>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Email Address</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="xyz@gmail.com"
                  formControlName="emailAddress"
                  [ngClass]="{
                    'is-invalid':
                      profileSubmitted && profileControlName.emailAddress.errors
                  }"
                />
                <div
                  *ngIf="
                    profileSubmitted && profileControlName.emailAddress.errors
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="profileControlName.emailAddress.errors.required">
                    Email is required
                  </div>
                  <div *ngIf="profileControlName.emailAddress.errors.email">
                    Email is invalid
                  </div>
                </div>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- <div class="col-2"></div> -->
            <div class="col-12 col-md-9 col-sm-9 col-lg-9"></div>
            <div class="col-12 col-md-3 col-sm-3 col-lg-3">
              
              <button
               mat-raised-button 
               color="primary"
               (click)="profileSubmitData(2)"
               >
                Next
              </button>
            </div>
          </div>

          <!-- <div>
      <button mat-button matStepperNext>Next</button>
    </div> -->
        </form>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-5">
        <div class="txt2">
          <img src="../../../assets/images/images.jpg" />
          <button class="btn2"><a href="#">Hello I'm Lobot</a></button>
        </div>
        <h4>Got a Question? Ask our us right away</h4>
        <p>connect instantly with us for quick assistance.</p>
        <button class="btn3"><a href="#">Chat with Us</a></button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="companyFormGroup" [editable]="step == 2" [completed]="step > 2">
    <form [formGroup]="companyFormGroup">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-sm-6 col-lg-8 col-xl-8 my-2">
            <ng-template matStepLabel>Company</ng-template>
            <br />
            <h2>
              <a
                [routerLink]="['/home/dashboard']"
                routerLinkActive="router-link-active"
                style="color: burlywood"
                >Dashboard <i class="fa fa-angle-right" style="color: black"></i
              ></a>

              <span style="color: burlywood">SME Loan Origination</span>
              <span style="color: gray"
                >&nbsp;({{
                  this.bannerCaseName === "" ? "" : this.bannerCaseName
                }})</span
              >
            </h2>
            <br />
            <span class="spanHeading">Company Details</span>
            <br /><br /><br />
            <mat-label><b>Company Type</b></mat-label
            ><br /><br />
            <mat-radio-group
              aria-label="Select an option"
              formControlName="companyType"
              class="example-full-width"
              [disabled]="selectDisable"
            >
              <mat-radio-button value="Private">Private</mat-radio-button
              >&nbsp;&nbsp;
              <mat-radio-button value="Public">Public</mat-radio-button>
            </mat-radio-group>
          </div>

          <div
            class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 showDivFirst my-5"
          >
            <div class="">
              <div class="txt2">
                <img src="../../../assets/images/images.jpg" />
                <button class="btn2"><a href="#">Hello I'm Lobot</a></button>
              </div>
              <h4>Got a Question? Ask our us right away</h4>
              <p>connect instantly with us for quick assistance.</p>
              <button class="btn3"><a href="#">Chat with Us</a></button>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-12 col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Type of Business</mat-label>
              <mat-select
                formControlName="buisnessType"
                [ngClass]="{
                  'is-invalid':
                    companySubmitted && companyControlName.buisnessType.errors
                }"
                [disabled]="selectDisable"
              >
                <mat-option value="">---select---</mat-option>
                <mat-option
                  [value]="tb.value"
                  *ngFor="let tb of typeBuisness"
                  >{{ tb.viewValue }}</mat-option
                >
              </mat-select>
              <div
                *ngIf="
                  companySubmitted && companyControlName.buisnessType.errors
                "
                class="invalid-feedback"
              >
                <div *ngIf="companyControlName.buisnessType.errors.required">
                  Business is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Sector</mat-label>
              <mat-select
                formControlName="sector"
                [ngClass]="{
                  'is-invalid':
                    companySubmitted && companyControlName.sector.errors
                }"
                [disabled]="selectDisable"
              >
                <mat-option value="">---select---</mat-option>

                <mat-option [value]="st.value" *ngFor="let st of sectores">{{
                  st.viewValue
                }}</mat-option>
              </mat-select>
              <div
                *ngIf="companySubmitted && companyControlName.sector.errors"
                class="invalid-feedback"
              >
                <div *ngIf="companyControlName.sector.errors.required">
                  Sector is required
                </div>
              </div>
            </mat-form-field>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-12 col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>No. of Employees</mat-label>
              <mat-select
                formControlName="employeeNumber"
                [ngClass]="{
                  'is-invalid':
                    companySubmitted && companyControlName.employeeNumber.errors
                }"
                [disabled]="selectDisable"
              >
                <mat-option value="">---select---</mat-option>
                <mat-option [value]="ne.value" *ngFor="let ne of noEmployees">{{
                  ne.viewValue
                }}</mat-option>
              </mat-select>
              <div
                *ngIf="
                  companySubmitted && companyControlName.employeeNumber.errors
                "
                class="invalid-feedback"
              >
                <div *ngIf="companyControlName.employeeNumber.errors.required">
                  Employee is required
                </div>
              </div>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6 col-sm-6 col-lg-6 col-xl-6">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Location</mat-label>
              <mat-select
                formControlName="location"
                [ngClass]="{
                  'is-invalid':
                    companySubmitted && companyControlName.location.errors
                }"
                [disabled]="selectDisable"
              >
                <mat-option value="">---select---</mat-option>
                <mat-option [value]="lo.name" *ngFor="let lo of locations">{{
                  lo.name
                }}</mat-option>
              </mat-select>
              <div
                *ngIf="companySubmitted && companyControlName.location.errors"
                class="invalid-feedback"
              >
                <div *ngIf="companyControlName.location.errors.required">
                  Location is required
                </div>
              </div>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="container">
        <br />
        <h2 style="color: black">Financials</h2>

        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel class="acccord my-2">
            <mat-expansion-panel-header style="background-color: darkviolet">
              <mat-panel-title> Net Income </mat-panel-title>
            </mat-expansion-panel-header>
            <br />
            <div class="container-fluid" formArrayName="profitloses">
              <div
                class="row"
                *ngFor="let quantity of profitloses().controls; let i = index"
                [formGroupName]="i"
              >
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Period</mat-label>
                    <mat-select formControlName="Period">
                      <mat-option value="">--Select--</mat-option>

                      <mat-option [value]="yr.value" *ngFor="let yr of years">{{
                        yr.viewValue
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Income</mat-label>
                    <input
                      matInput
                      formControlName="Income"
                      
                    />
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Taxes</mat-label>
                    <input
                      matInput
                      formControlName="Taxes"
                     
                    />
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Interest</mat-label>
                    <input
                      matInput
                      formControlName="Interest"
                     
                    />
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Net Income</mat-label>
                    <input
                      matInput
                      formControlName="NetResult"
                     
                    />
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
                  <button
                    [disabled]="selectDisable"
                    (click)="removeQuantity(i, 'profitandlos')"
                    class="btn btn-danger trashBtn"
                  >
                    <i class="fa fa-trash-o"></i>
                  </button>
                </div>
                <mat-divider></mat-divider>
              </div>

              <button
                [disabled]="selectDisable"
                type="button"
                (click)="addQuantity('profitandlos')"
                class="btn btn-primary"
              >
                <i class="fa fa-plus" style="font-size: 24px"></i>
              </button>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel class="acccord my-2">
            <mat-expansion-panel-header style="background-color: darkviolet">
              <mat-panel-title> Assets </mat-panel-title>
            </mat-expansion-panel-header>
            <br />
            <div class="container-fluid" formArrayName="assets">
              <div
                class="row"
                *ngFor="let asset of assets().controls; let i = index"
                [formGroupName]="i"
              >
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Period</mat-label>
                    <mat-select formControlName="Period">
                      <mat-option value="">--Select--</mat-option>

                      <mat-option [value]="yr.value" *ngFor="let yr of years">{{
                        yr.viewValue
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Machinery</mat-label>
                    <input
                      matInput
                      formControlName="Machinery"
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Real Estate</mat-label>
                    <input
                      matInput
                      formControlName="RealEstate"
                   />
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Inventory</mat-label>
                    <input
                      matInput
                      formControlName="Inventory"
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Goodwill</mat-label>
                    <input
                      matInput
                      formControlName="Goodwill"
                    />
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Stock</mat-label>
                    <input
                      matInput
                      formControlName="Stock"
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Net Assets</mat-label>
                    <input
                      matInput
                      formControlName="TotalAssets"
                    />
                  </mat-form-field>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-1">
                  <button
                    [disabled]="selectDisable"
                    (click)="removeQuantity(i, 'assets')"
                    class="btn btn-danger trashBtn"
                  >
                    <i class="fa fa-trash-o"></i>
                  </button>
                </div>
              </div>

              <button
                [disabled]="selectDisable"
                type="button"
                (click)="addQuantity('assets')"
                class="btn btn-primary"
              >
                <i class="fa fa-plus" style="font-size: 24px"></i>
              </button>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="acccord my-2">
            <mat-expansion-panel-header style="background-color: darkviolet">
              <mat-panel-title> Liabilities </mat-panel-title>
            </mat-expansion-panel-header>
            <br />
            <div class="container-fluid" formArrayName="liabilities">
              <div
                class="row"
                *ngFor="let liability of liabilities().controls; let i = index"
                [formGroupName]="i"
              >
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Period</mat-label>
                    <mat-select formControlName="Period">
                      <mat-option value="">--Select--</mat-option>

                      <mat-option [value]="yr.value" *ngFor="let yr of years">{{
                        yr.viewValue
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Equity</mat-label>
                    <input
                      matInput
                      formControlName="Equity"
                    />
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Short Term Debt</mat-label>
                    <input
                      matInput
                      formControlName="ShortTermDebt"
                    />
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Long Term Debt</mat-label>
                    <input
                      matInput
                      formControlName="LongTermDebt"
                    />
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Net Liabilities</mat-label>
                    <input
                      matInput
                      formControlName="TotalLiabilities"
                    />
                  </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
                  <button
                    [disabled]="selectDisable"
                    (click)="removeQuantity(i, 'liabilities')"
                    class="btn btn-danger trashBtn"
                  >
                    <i class="fa fa-trash-o"></i>
                  </button>
                </div>
                <mat-divider></mat-divider>
              </div>

              <button
                [disabled]="selectDisable"
                type="button"
                (click)="addQuantity('liabilities')"
                class="btn btn-primary"
              >
                <i class="fa fa-plus" style="font-size: 24px"></i>
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <br />
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="showDiv">
              <div class="txt2">
                <img src="../../../assets/images/images.jpg" />
                <button class="btn2"><a href="#">Hello I'm Lobot</a></button>
              </div>
              <h4>Got a Question? Ask our us right away</h4>
              <p>connect instantly with us for quick assistance.</p>
              <button class="btn3"><a href="#">Chat with Us</a></button>
            </div>
          </div>
        </div>
      </div>

      <br /><br />

      <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
          <!-- &nbsp;&nbsp;&nbsp;&nbsp;<button
            mat-raised-button
            matStepperPrevious
            color="accent"
          >
            Back
          </button> -->
        </div>
        <div class="col-12 col-md-6 col-sm-6 col-lg-6"></div>
        <div class="col-12 col-md-3 col-sm-3 col-lg-3">
         
          <button
          mat-raised-button
          (click)="goPreviousStep(1)"
          color="primary"
        >
          Back</button
        >&nbsp;
          <button mat-raised-button 
          (click)="companySubmitData(3)"
          color="primary">
            Next
          </button>
        </div>
      </div>
      <!-- <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div> -->
    </form>
  </mat-step>
  <mat-step [stepControl]="loanFormGroup" [editable]="step == 3" [completed]="step > 3">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 my-2">
          <form [formGroup]="loanFormGroup">
            <ng-template matStepLabel>Loan</ng-template>
            <br />
            <h2>
              <a
                [routerLink]="['/home/dashboard']"
                routerLinkActive="router-link-active"
                style="color: burlywood"
                >Dashboard <i class="fa fa-angle-right" style="color: black"></i
              ></a>

              <span style="color: burlywood">SME Loan Origination</span>
              <span style="color: gray"
                >&nbsp;({{
                  this.bannerCaseName === "" ? "" : this.bannerCaseName
                }})</span
              >
            </h2>
            <br />
            <span class="spanHeading">Loan Details</span>
            <br /><br /><br />
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Loan Amount</mat-label>
                  <input
                    matInput
                    (blur)="transformAmount($event, 'la')"
                    [(ngModel)]="formattedAmount_la"
                    formControlName="loanAmount"
                    [ngClass]="{
                      'is-invalid':
                        loanSubmitted && loanControlName.loanAmount.errors
                    }"
                    required
                  />
                  <div
                    *ngIf="loanSubmitted && loanControlName.loanAmount.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="loanControlName.loanAmount.errors.required">
                      Amount is required
                    </div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Loan Type</mat-label>
                  <mat-select
                    formControlName="loanType"
                    [ngClass]="{
                      'is-invalid':
                        loanSubmitted && loanControlName.loanType.errors
                    }"
                    [disabled]="selectDisable"
                  >
                    <mat-option value="">---select---</mat-option>
                    <mat-option
                      [value]="lt.value"
                      *ngFor="let lt of loanTypes"
                      >{{ lt.viewValue }}</mat-option
                    >
                  </mat-select>
                  <div
                    *ngIf="loanSubmitted && loanControlName.loanType.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="loanControlName.loanType.errors.required">
                      Type is required
                    </div>
                  </div>
                </mat-form-field>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Loan Purpose</mat-label>
                  <mat-select
                    formControlName="loanPurpose"
                    [ngClass]="{
                      'is-invalid':
                        loanSubmitted && loanControlName.loanPurpose.errors
                    }"
                    [disabled]="selectDisable"
                  >
                    <mat-option value="">---select---</mat-option>
                    <mat-option
                      [value]="lp.value"
                      *ngFor="let lp of loanPurposes"
                      >{{ lp.viewValue }}</mat-option
                    >
                  </mat-select>
                  <div
                    *ngIf="loanSubmitted && loanControlName.loanPurpose.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="loanControlName.loanPurpose.errors.required">
                      Purpose is required
                    </div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Loan Tenure (Months)</mat-label>
                  <input
                    matInput
                    formControlName="loanTenure"
                    placeholder="number"
                    [ngClass]="{
                      'is-invalid':
                        loanSubmitted && loanControlName.loanTenure.errors
                    }"
                  />
                  <div
                    *ngIf="loanSubmitted && loanControlName.loanTenure.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="loanControlName.loanTenure.errors.required">
                      Tenure is required
                    </div>
                    <div *ngIf="loanControlName.loanTenure.errors.pattern">
                      numeric is required
                    </div>
                  </div>
                </mat-form-field>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <mat-label>Will this loan be collateralized?</mat-label><br />
                <mat-radio-group
                  [disabled]="selectDisable"
                  aria-label="Select an option"
                  formControlName="isLoanCollaterized"
                >
                  <mat-radio-button value="Yes">Yes</mat-radio-button>&nbsp;
                  <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <mat-label>Upload Document(s)</mat-label>
                <input
                  type="file"
                  id="myFile"
                  name="filename"
                  formControlName="filename"
                  (change)="onChange($event)"
                  [ngClass]="{
                    'is-invalid':
                      loanSubmitted && loanControlName.filename.errors
                  }"
                  [disabled]="true"
                />
                <div
                  *ngIf="loanSubmitted && loanControlName.filename.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="loanControlName.filename.errors.required">
                    File is required
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Collateral Type</mat-label>
                  <mat-select
                    formControlName="collateralType"
                    [ngClass]="{
                      'is-invalid':
                        loanSubmitted && loanControlName.collateralType.errors
                    }"
                    [disabled]="selectDisable"
                  >
                    <mat-option value="">---select---</mat-option>
                    <mat-option
                      [value]="ct.value"
                      *ngFor="let ct of collateralTypes"
                      >{{ ct.viewValue }}</mat-option
                    >
                  </mat-select>
                  <div
                    *ngIf="
                      loanSubmitted && loanControlName.collateralType.errors
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="loanControlName.collateralType.errors.required">
                      collateral is required
                    </div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <section class="example-full-width">
                  <mat-checkbox
                    class="example-margin"
                    formControlName="checkLoanPeriod"
                    (change)="selectItem($event.checked)"
                    [disabled]="selectDisable"
                    >Loan period for more than 5 years</mat-checkbox
                  ><br />
                  <b *ngIf="showBankExcutiveHelp"
                    >Contact bank executive on 455-666744</b
                  >
                </section>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Collateral Value</mat-label>
                  <input
                    matInput
                    formControlName="collateralValue"
                    placeholder="1000000"
                    [ngClass]="{
                      'is-invalid':
                        loanSubmitted && loanControlName.collateralValue.errors
                    }"
                    (blur)="transformAmount($event, 'cv')"
                    [(ngModel)]="formattedAmount_cv"
                    required
                  />
                  <div
                    *ngIf="
                      loanSubmitted && loanControlName.collateralValue.errors
                    "
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="loanControlName.collateralValue.errors.required"
                    >
                      CollateralValue is required
                    </div>
                    <div *ngIf="loanControlName.collateralValue.errors.pattern">
                      numeric is required
                    </div>
                  </div>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-2">
                <!-- &nbsp;&nbsp;&nbsp;&nbsp;<button
                  mat-raised-button
                  matStepperPrevious
                  color="accent"
                >
                  Back
                </button> -->
              </div>
              <div class="col-6"></div>
              <div class="col-4">
                <button
                mat-raised-button
                (click)="goPreviousStep(2)"
                color="primary"
              >
                Back</button
              >&nbsp;
                <button mat-raised-button 
                 color="primary"
                 (click)="loanSubmitData(4)"
                 >
                  Next
                </button>
              </div>
            </div>

            <!-- <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div> -->
          </form>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 my-5">
          <div class="txt2">
            <img src="../../../assets/images/images.jpg" />
            <button class="btn2"><a href="#">Hello I'm Lobot</a></button>
          </div>
          <h4>Got a Question? Ask our us right away</h4>
          <p>connect instantly with us for quick assistance.</p>
          <button class="btn3"><a href="#">Chat with Us</a></button>
        </div>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="calculatorFormGroup" [editable]="step == 4" [completed]="step > 4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
          <form [formGroup]="calculatorFormGroup">
            <ng-template matStepLabel>Calculator</ng-template>
            <br />
            <h2>
              <a
                [routerLink]="['/home/dashboard']"
                routerLinkActive="router-link-active"
                style="color: burlywood"
                >Dashboard <i class="fa fa-angle-right" style="color: black"></i
              ></a>

              <span style="color: burlywood">SME Loan Origination</span>
              <span style="color: gray"
                >&nbsp;({{
                  this.bannerCaseName === "" ? "" : this.bannerCaseName
                }})</span
              >
            </h2>
            <br />
            <span class="spanHeading">Calculator Details</span>
            <br /><br /><br />
            <div class="row">
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Loan Purpose</mat-label>
                  <mat-select
                    [disabled]="selectDisable"
                    formControlName="loanPurpose"
                    required
                    (selectionChange)="onBlurClick($event, 'l')"
                  >
                    <mat-option value="">---select---</mat-option>
                    <mat-option
                      [value]="lp.value"
                      *ngFor="let lp of loanPurposes"
                      >{{ lp.viewValue }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Requested Loan Amount</mat-label>
                  <input
                    matInput
                    formControlName="requestedLoanAmount"
                    type="number"  
                    min="0" 
                    oninput="validity.valid||(value='');"
                    (blur)="onBlurClick($event, 'r')"
                    required
                  />
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Collateral Value</mat-label>
                  <input
                    matInput
                    formControlName="collateralValue"
                    type="number"  
                    min="0" 
                    oninput="validity.valid||(value='');"
                    (blur)="onBlurClick($event, 'c')"
                    required
                  />
                </mat-form-field>
              </div>
            </div>
            <br />
            <div class="row">
              <!-- <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <rg-gauge-chart
                  [canvasWidth]="canvasWidth"
                  [needleValue]="needleValue"
                  [centralLabel]="centralLabel"
                  [options]="options"
                  [name]="name"
                  [bottomLabel]="bottomLabel"
                ></rg-gauge-chart>
              </div> -->
              <!-- <div
                class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4"
                *ngFor="let dd of decisionnDatas"
              >
                <b style="color: burlywood;">Credit score</b>
                <p>{{ dd.Score }}</p> 
                <b style="color: burlywood;">Decision</b>
                <p>{{ dd.Decision }}</p>
                <b style="color: burlywood;">DecisionCode</b>
                <p>{{ dd.DecisionCode }}</p>
                <b style="color: burlywood;">Feedback</b>
                <p>{{ dd.Feedback }}</p>
              </div> -->
              <!-- <div
                class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4"
                *ngFor="let ad of alternateDatas"
              >
                <div>
                  <b style="color: burlywood;">Alternative</b>
                  <p>{{ ad.Alternative }}</p>
                  <b style="color: burlywood;">AlternativeValue</b>
                  <p>{{ ad.AlternativeValue }}</p>
                  <b style="color: burlywood;">Decision</b>
                  <p>{{ ad.Decision }}</p>
                  <b style="color: burlywood;">DecisionCode</b>
                  <p>{{ ad.DecisionCode }}</p>
                  <b style="color: burlywood;">Feedback</b>
                  <p>{{ ad.Feedback }}</p>
                 
                </div>
              </div> -->
            </div>
            <div class="row">
              <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <b style="color: burlywood;">Loan Type</b>
                <p>{{ this.loandataDetails === undefined?'':this.loandataDetails.ApplicationDetails === undefined?'':this.loandataDetails.ApplicationDetails.LoanType===undefined?'':this.loandataDetails.ApplicationDetails.LoanType}}</p>
                <b style="color: burlywood;">loan Tenure</b>
                <p>{{ this.loandataDetails === undefined?'':this.loandataDetails.ApplicationDetails === undefined?'':this.loandataDetails.ApplicationDetails.LoanTenure===undefined?'':this.loandataDetails.ApplicationDetails.LoanTenure}}</p>
             
              </div>
               <!-- <div
                class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                
              </div> -->
               <div
                class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9"
               >
               <div *ngIf="this.loanApprovedMsg; else elseBlockApploved">
               <div class="appMsgs">
                <p>
                  Congratulations !!! Your loan offer is likely to get approved.<img src="./../../../assets/images/bright-smile-blue-emoji-emoticon-easy-integration-photo-video-bright-smile-blue-emoji-white-background-132427544-removebg-preview.png" alt="smile">            
                 </p>
                  
               </div>
              </div>
             
            <ng-template #elseBlockApploved>
              <div class="appMsg">
                <p>Sorry !!! The Loan offer selected may not get approved, please perform the suggested steps and check. <img src="./../../../assets/images/emj-removebg-preview.png" alt="sad" height="35px" width="40px">
                   </p>
                  <ol class="applist">
                    <li>Increase or decrease the loan amount</li>
                    <li>Increase the collateral value</li>
                  </ol>
               </div>
            </ng-template>
              </div>
            </div>
            <br>
            <mat-card>
              <b>Net Income</b>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" style="color: burlywood;">Period</th>
                    <th scope="col" style="color: burlywood;">Income</th>
                    <th scope="col" style="color: burlywood;">Interest</th>
                    <th scope="col" style="color: burlywood;">NetResult</th>
                    <th scope="col" style="color: burlywood;">Taxes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let netind of netincomeDetails">
                    <th scope="row">{{netind.Period}}</th>
                    <td>{{netind.Income}}</td>
                    <td>{{netind.Interest}}</td>
                    <td>{{netind.NetResult}}</td>
                    <td>{{netind.Taxes}}</td>
                    </tr>
                 
                </tbody>
              </table>
            </mat-card>
            <br>
            <mat-card>
              <b>Assets</b>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" style="color: burlywood;">Period</th>
                    <th scope="col" style="color: burlywood;">Inventory</th>
                    <th scope="col" style="color: burlywood;">Machinery</th>
                    <th scope="col" style="color: burlywood;">LiquidAssets</th>
                    <th scope="col" style="color: burlywood;">RealEstate</th>
                    <th scope="col" style="color: burlywood;">Stock</th>
                    <th scope="col" style="color: burlywood;">TotalAssets</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ast of assetsDetails">
                    <th scope="row">{{ast.Period}}</th>
                    <td>{{ast.Inventory}}</td>
                    <td>{{ast.Machinery}}</td>
                    <td>{{ast.LiquidAssets}}</td>
                    <td>{{ast.RealEstate}}</td>
                    <td>{{ast.Stock}}</td>
                    <td>{{ast.TotalAssets}}</td>
                   </tr>
                 
                </tbody>
              </table>
            </mat-card>
           <br>
            <mat-card>
              <b>Liabilities</b>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" style="color: burlywood;">Period</th>
                    <th scope="col" style="color: burlywood;">Equity</th>
                    <th scope="col" style="color: burlywood;">ShortTermDebt</th>
                    <th scope="col" style="color: burlywood;">LongTermDebt</th>
                    <th scope="col" style="color: burlywood;">TotalLiabilities</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let libd of liabilitiesDetails">
                    <th scope="row">{{libd.Period}}</th>
                    <td>{{libd.Equity}}</td>
                    <td>{{libd.ShortTermDebt}}</td>
                    <td>{{libd.LongTermDebt}}</td>
                    <td>{{libd.TotalLiabilities}}</td>
                    </tr>
                 
                </tbody>
              </table>
            </mat-card>
            <br>
            
            <div class="row">
              <!-- <div class="col-2">
                &nbsp;&nbsp;&nbsp;&nbsp;<button
                  mat-raised-button
                  matStepperPrevious
                  color="accent"
                >
                  Back
                </button>
              </div> -->
              <div class="col-12 col-md-9 col-sm-9 col-lg-9"></div>
              <div class="col-12 col-md-3 col-sm-3 col-lg-3">
                <button
                mat-raised-button
                (click)="goPreviousStep(3)"
                color="primary"
              >
                Back</button
              >&nbsp;
              <div *ngIf="finishBtnApproved; then thenshowBlock else elsehidBlock"> 
              </div>
             
            <ng-template #thenshowBlock>
              <button
              type="submit"
              mat-raised-button
              color="primary"
              (click)="calculatorSubmitData()"
              [disabled]="selectDisable"
            >Finish</button>
            </ng-template>
             
            <ng-template #elsehidBlock>
             </ng-template>
               </div>
            </div>
            <!-- <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div> -->
          </form>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-5">
          <div class="txt2">
            <img src="../../../assets/images/images.jpg" />
            <button class="btn2"><a href="#">Hello I'm Lobot</a></button>
          </div>
          <h4>Got a Question? Ask our us right away</h4>
          <p>connect instantly with us for quick assistance.</p>
          <button class="btn3"><a href="#">Chat with Us</a></button>
        </div>
      </div>
    </div>
  </mat-step>
</mat-stepper>
