.example-full-width {
    width: 100%;
  }
  .spanHeading {
    font-size: 28px;
    font-family: fantasy;
  }
  .trashBtn {
    margin-top: 6px !important;
  }

  .showDiv {
    display: none;
  }
  .showDivFirst{
    display: inline;
  }



  /* =============================== col-3 css ===========================*/
 
  /*=====================section3===========================*/
 
 .txt1 {
    font-size: 19px;
    text-align: justify;
    padding: 0px 5px;
  }
   .txt2 > img {
    width: 50px;
    height: 50px;
    border: 1px solid none;
    border-radius: 10px;
    background-color: blue;
  }
  .txt2 {
    display: flex;
  }
  .txt2 .btn2 {
    border: 1px solid #e8e8ef;
    padding: 2px 21px;
    border-radius: 19px;
    text-decoration: none;
    background-color: #fff;
    height: 35px;
    margin-left: 28px;
    margin-top: 5px;
  }
  .txt2 .btn2 > a {
    text-decoration: none;
    color: #706d69;
  }
  .section3 > h4 {
    font-size: 37px !important;
    font-family: "fantasy";
    padding: 5px;
  }
.btn3 {
    border: 1px solid #e8e8ef;
    padding: 2px 21px;
    border-radius: 19px;
    text-decoration: none;
    background-color: #5d5df5;
    height: 45px;
    margin-top: 5px;
  }
 .btn3 > a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
  }
  
  
  /*======================= responsive ======================== */
  
  @media only screen and (max-width: 600px) {
    .showDiv {
      display: inline;
    }
    .showDivFirst{
      display: none;
    }
  
   .txt1 {
      font-size: 16px;
      text-align: justify;
    }
   .txt2 {
      display: block;
    }
    ::ng-deep .mat-horizontal-stepper-header-container {
      background-color: black;
      padding: 0px 0px;
    
  }
  }


  @media only screen and (min-width: 576px) {
    .showDiv {
      display: inline;
    }
    .showDivFirst{
      display: none;
    }
  
    .txt1 {
       font-size: 15px;
       text-align: justify;
     }
    .txt2 {
       display: block;
     }
     ::ng-deep .mat-horizontal-stepper-header-container {
       background-color: black;
       padding: 0px 0px !important;
     
   }
   }


   @media only screen and (min-width: 768px) {
    .showDiv {
      display: inline;
    }
    .showDivFirst{
      display: none;
    }
  
    .txt1 {
       font-size: 16px;
       text-align: justify;
     }
    .txt2 {
       display: block;
     }
     ::ng-deep .mat-horizontal-stepper-header-container {
       background-color: black;
       padding: 0px 0px !important;
     
   }
   }

   @media only screen and (min-width: 992px) {
    .showDiv {
      display: inline;
    }
    .showDivFirst{
      display: none;
    }
  
    .txt1 {
       font-size: 17px;
       text-align: justify;
     }
    .txt2 {
       display: block;
     }
     ::ng-deep .mat-horizontal-stepper-header-container {
       background-color: black;
       padding: 0px 0px !important;
     
   }
   }


   @media only screen and (min-width: 1200px) {
    .showDiv {
      display: none;
    }
    .showDivFirst{
      display: inline;
    }
  
    .txt1 {
       font-size: 18px;
       text-align: justify;
     }
    .txt2 {
       display: block;
     }
     ::ng-deep .mat-horizontal-stepper-header-container {
       background-color: black;
       padding: 0px 0px !important;
     
   }
   }


  @media only screen and (max-width: 480px) {
    .showDiv {
      display: inline;
    }
    .showDivFirst{
      display: none;
    }
  
    .txt1 {
       font-size: 14px;
       text-align: justify;
     }
    .txt2 {
       display: block;
     }
     ::ng-deep .mat-horizontal-stepper-header-container {
       background-color: black;
       padding: 0px 0px !important;
     
   }
   }
  
 /* =============================== col-3 css ===========================*/

  ::ng-deep .mat-horizontal-stepper-header-container {
      background-color: black;
      padding: 0px 150px;
    
  }
  ::ng-deep .mat-step-text-label {
    color: #fff;
    font-size: 17px;
    font-family: sans-serif;
  }
 
  ::ng-deep .mat-expansion-panel-header {
    color: #fff;
}

  ::ng-deep .mat-expansion-panel-header-title {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 600;
}
::ng-deep .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
  background: darkviolet;
}
::ng-deep .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded {
  background: darkviolet;
}
  
::ng-deep .mat-expansion-indicator::after {
 
  color: aliceblue;
}

::ng-deep .mat-horizontal-stepper-header {
    display: flex;
    height: 72px;
    overflow: hidden;
    align-items: center;
    padding: 2px 70px;
}

.appMsg {
  border-radius: 10px;
    /* border: 3px; */
    border: 2px solid;
    background-color: red;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
   
}
.appMsgs {
  border-radius: 10px;
  /* border: 3px; */
  border: 2px solid;
  background-color: #3CB371;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  width: 405px;
}
.appMsgs img {
  height: 35px;
  width: 35px;
  padding-top: 4px;
}

.applist {
  list-style-type: disclosure-closed;
  padding-left: 15px;
  margin-top: -11px;
  color: #fff;
}