<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="txt">
                <h1>404 Error Page Not Found!</h1>
            </div>
              
              
            </div>
        </div>
    
</div>
