.rthgBtn {
    display: flex;
    float: right;
    text-align: center;
}

::ng-deep .mat-menu-panel{
  margin-left: 77px;
}




  @media screen and (max-width: 600px) {
    .rthgBtn {
        display: flex;
      
    }
  }
  @media only screen and (min-width: 768px) {
    .rthgBtn {
        display: flex;
      
    }
   
  }

  @media (max-width: 480px) {
    .rthgBtn {
        display: flex;
        margin: 0px 45px;
    }
    .btn1{
        width: 113px;
    }
    .btn11{
      width: 113px;
  }
}
 
