<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-circus" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-9 col-md-9 col-xl-9 col-lg-9">
        <div class="logo">
          <img
            src="../../../assets/images/capgemini-logo.jpg"
            alt="capgemini-logo"
          />
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 col-xl-3 col-lg-3">
        <ul class="rthgBtn">
          <li style="width: max-content">
            <button class="btn1">
              <a (click)="refreshGridInAnotherComponent()">Apply for SME Loan</a>
            </button>
          </li>
          <li style="width: max-content">
            <button class="btn11" [matMenuTriggerFor]="menu">
              <a  routerLinkActive="router-link-active">{{
                userData.name
              }}&nbsp;<img src="./../../assets/images/oie_jpg (3).png"></a>
            </button>
            <mat-menu #menu="matMenu" xPosition="after">
             <ul>
               <li style="color: black;" (click)="logout()">Log out</li>
             </ul>
            </mat-menu>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-6 col-12">
        <div class="cont_txt">
          <!-- <h2>Get Instant Loans</h2>

          <p>
            Unlike other Loans, a personal or unsecured Loan has easy
            eligibility criteria, special offers and unrestricted end-use for
            you to finance your immediate expenses, be it a medical emergency or
            a foreign trip.
          </p> -->
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="footer_logo">
          <img src="../../assets/images/footer.jpg" />
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="footer_txt1">
          <ul>
            <li><i class="fa fa-map"></i>&nbsp;Locate us</li>
            <li><i class="fa fa-phone fa-1x"></i>&nbsp;Phone us</li>
            <li><i class="fa fa-envelope"></i>&nbsp;Mail us</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="footer_txt2">
          <ul>
            <li><a href="#">Terms and conditions </a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="socail-icon">
          <h2>Connect with us</h2>
          <ul>
            <li>
              <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub_footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been
        </p>
      </div>
    </div>
  </div>
</div>
